<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvest Time Estimator - Congratulations</title>
    <link rel="shortcut icon" href="./assets/logo2.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/congratulation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="register-form">
            <div class="logo">
                <img src="./assets/logo.png" alt="Harvest Time Estimator Logo">
            </div>
            <h2>Congratulations!</h2>
            <p>Your account password has been reset successfully. You will automatically be redirected to the login page in <b><span id="countdown">5</span> seconds.</b></p>

                <p>If you are not redirected automatically, <b><a href="/">click here</a></b> to go to the login page.</p>
        </div>
    </div>

    <script>
        // Countdown timer for redirecting to login page
        let countdown = 5;
        const countdownElement = document.getElementById('countdown');

        const countdownInterval = setInterval(() => {
            countdown -= 1;
            countdownElement.textContent = countdown;

            if (countdown === 0) {
                clearInterval(countdownInterval);
                window.location.href = '/'; // Redirect to the login page after countdown
            }
        }, 1000);
    </script>
    <script src="./js/error.js"></script>
    
</body>
</html>
